<h2>
	Completed Items
</h2>
<ul>
	<li>
		<div class="listItem">
			item 1
		</div>
		<div class="deleteItem">
			<img src="/icons/cross-24-48.png">
		</div>
	</li>
	<li>
		<div class="listItem">
			item 1
		</div>
		<div class="deleteItem">
			<img src="/icons/cross-24-48.png">
		</div>
	</li>
	<li>
		<div class="listItem">
			item 1
		</div>
		<div class="deleteItem">
			<img src="/icons/cross-24-48.png">
		</div>
	</li>
</ul>
