<h2>
	Completed Items
</h2>
<ul>
	<% current_list.list_items.each do |list_item| %>
		<% if list_item.completed %>
			<li>
				<div class="listItem" data-list-item-id="<%= list_item.id %>">
					<%= list_item.description %>
				</div>
				<div class="deleteIcon">
					<img src="/icons/cross-24-48.png">
				</div>
			</li>
		<% end %>
	<% end %>
</ul>
