<h2>
	<%= current_list.name %>
</h2>
<ul>
	<% current_list.list_items.each do |list_item| %>
		<% if not list_item.completed %>
			<li>
				<div class="listItem" data-list-item-id="<%= list_item.id %>">
					<%= list_item.description %>
				</div>
				<div class="checkBoxIcon">
					<img src="/icons/checkmark-round.png">
				</div>
			</li>
		<% end %>
	<% end %>
	<div class="addNewListItemForm hide" data-list-id="<%= current_list.id %>">
		<input onkeypress="return checkItemSubmit( event )" maxlength="255">
		</input>
		<div class="buttonSection">
			<button class="saveButton"> Save </button>
			<button class="cancelButton"> Cancel </button>
		</div>
	</div>
	<div class="addNewListItem">
		<img src="/icons/plus-24-16.png">
		Add New Item
	</div>
</ul>
