<div class="sideBar">
	<%= render "sidebar", all_lists: @lists %>
</div>
<div class="mainSection">
	<div class="todoList">
		<%= render "helpfulMessage", all_lists: @lists %>
	</div>
	<div class="completedList">
	</div>
</div>
