<div class="sideBar">
	<%= render "sidebar" %>
</div>
<div class="mainSection">
	<div class="todoList">
		<% if @lists.any? %>
			<h2>
				Select a list from the sidebar!
			</h2>
		<% else %>
			<h2>
				Use the sidebar to create a list!
			</h2>
		<% end %>
	</div>
	<div class="completedList">
	</div>
</div>
