/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2 {
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	margin: 25px 10px;
	word-wrap: break-word;
}
h3 {
	font-weight: normal;
	font-size: 19px;
	margin: 25px 0px;
	word-wrap: break-word;
}


.hide {
	display: none !important;
}


/* Sidebar */
.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 25%;
	background-color: #80DEEA;
	overflow: auto;
	font-size: 16px;
}
.sidebar ul {
	list-style-type: none;
	padding: 0px 0px 0px 24px;
}
.sidebar li {
	box-shadow: 0px -1px 0px rgba( 0, 0, 0, 0.2 ) inset;
}
.sidebar li:hover {
	background-color: rgba( 255, 255, 255, .42 );
}
.sidebar .sidebarItem {
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	line-height: 28px;
	width: calc( 100% - 82px );
	padding: 10px 0px 10px 42px;
	word-wrap: break-word;
}
.sidebar .selectedSidebarItem {
	background-color: rgba( 255, 255, 255, .6 );
}
.sidebar .selectedSidebarItem:hover {
	background-color: rgba( 255, 255, 255, .6 );
}
.sidebar .deleteIcon {
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	float: right;
	background-color: #E0F7FA;
	border-radius: 15%;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.6 );
	margin: 10px;
	padding: 0px;
}
.sidebar .deleteIcon img {
	height: 14px;
	width: 14px;
	padding: 4px 3px 2px 3px;
}
.sidebar .deleteIcon:hover {
	background-color: #FF8A65;
}
.sidebar .addNewList {
	cursor: pointer;
	cursor: hand;
	line-height: 28px;
	padding: 10px 0px 10px 42px;
}
.sidebar .addNewList img {
	height: 11px;
	width: 11px;
}
.sidebar .newListForm {
	padding: 6px 40px 6px 24px;
}
.sidebar .newListForm input {
	height: 24px;
	width: calc( 100% - 4px );
	margin: 4px 0px;
	padding: 0px;
	font-size: 16px;
}
.sidebar .newListForm .buttonSection {
	height: 30px;
	width: 100%;
}
.sidebar .newListForm button {
	float: right;
	color: #FFFFFF;
	background-color: #0097A7;
	border-width: 1px;
	border-radius: 4px;
	outline: none;
	margin: 3px 2px 3px 2px;
	padding: 4px 10px;
}


/* Main Section */
.mainSection {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 75%;
	background-color: #E0F7FA;
	font-size: 16px;
}
.mainSection ul {
	list-style-type: none;
	margin: 0px 54px;
	padding: 0px;
}
.mainSection li {
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: 12px 0px;
}
.mainSection .listItem {
	display: inline-block;
	width: calc( 100% - 70px );
	line-height: 22px;
	padding: 10px 15px;
	word-wrap: break-word;
}


/* To-Do List */
.todoList {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	overflow-y: auto;
	overflow-x: hidden;
}
.todoList .checkBoxIcon {
	cursor: pointer;
	cursor: hand;
	float: right;
	background-color: #E0F7FA;
	border-radius: 15%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	margin: 10px;
}
.todoList .checkBoxIcon img {
	height: 17px;
	width: 17px;
	padding: 3px 2px 0px 1px;
}
.todoList .checkBoxIcon:hover{
	background-color: #81C784;
}
.todoList .addNewListItem {
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	padding: 8px 0px;
	margin: 0px 0px 32px 0px;
}
.todoList .addNewListItem img {
	height: 11px;
	width: 11px;
}
.todoList .addNewListItemForm {
}
.todoList .addNewListItemForm input {
	height: 24px;
	width: calc( 100% - 4px );
	margin: 4px 0px;
	padding: 0px;
	font-size: 16px;
}
.todoList .addNewListItemForm .buttonSection {
	height: 36px;
	width: 100%;
}
.todoList .addNewListItemForm button {
	float: right;
	color: #FFFFFF;
	background-color: #0097A7;
	border-width: 1px;
	border-radius: 4px;
	outline: none;
	margin: 3px 2px 3px 4px;
	padding: 6px 16px;
}


/* Completed List */
.completedList {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	overflow-y: auto;
}
.completedList .deleteIcon {
	cursor: pointer;
	cursor: hand;
	float: right;
	background-color: #E0F7FA;
	border-radius: 15%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	margin: 10px;
	padding: 0px;
}
.completedList .deleteIcon:hover {
	background-color: #FF8A65;
}
.completedList .deleteIcon img {
	height: 14px;
	width: 14px;
	padding: 4px 3px 2px 3px;
}







