/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2 {
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	margin: 25px 10px;
}
h3 {
	font-weight: normal;
	font-size: 19px;
	margin: 25px 0px;
}


.hide {
	display: none !important;
}


/* Sidebar */
.sideBar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 25%;
	background-color: #80DEEA;
	overflow: auto;
}
.sideBar ul {
	list-style-type: none;
	padding: 0px 0px 0px 24px;
}
.sideBar li {
	font-size: 16px;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2) inset;
	overflow: hidden;
}
.sideBar .addNewListForm {
	padding: 6px 40px 6px 24px;
	line-height: 28px;
}
.sideBar .addNewListForm input {
	float: right;
	height: 24px;
	width: 100%;
	font-size: 16px;
	margin: 4px;
}
.sideBar .addNewListForm div {
	float: right;
}
.sideBar .addNewListForm button {
	background-color: #0097A7;
	color: #FFFFFF;
	float: right;
	padding: 6px 16px;
	margin: 3px 4px;
	border-radius: 10px;
}
.sideBar .selectedList {
	background-color: #00BCD4;
}
.addNewList {
	cursor: pointer;
	cursor: hand;
	padding: 10px 0px 10px 48px;
	line-height: 28px;
}
.addNewList img {
	height: 11px;
	width: 11px;
}
.viewList {
	display: inline-block;
	padding: 10px 0px 10px 48px;
	line-height: 28px;
	width: calc( 100% - 88px );
	cursor: pointer;
	cursor: hand;
}
.deleteList {
	float: right;
	margin: 10px;
	padding: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	border-radius: 15%;
	background-color: #E0F7FA;
	cursor: pointer;
	cursor: hand;
}
.deleteList img {
	height: 14px;
	width: 14px;
	padding: 4px 3px 2px 3px;
}


/* Main Section */
.mainSection {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 75%;
	background-color: #E0F7FA;
}
.mainSection ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px 54px;
}
.mainSection li {
	margin: 12px 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: #FFFFFF;
}
.listItem {
	padding: 10px 15px;
	line-height: 22px;
	font-size: 15px;
	display: inline-block;
	width: calc( 100% - 70px );
}


/* To-Do Section */
.todoList {
	float: left;
	height: 100%;
	width: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	overflow: auto;
}
.checkBox {
	float: right;
	margin: 10px;
	padding: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	border-radius: 15%;
	background-color: #E0F7FA;
	cursor: pointer;
	cursor: hand;
}
.checkBox img {
	height: 17px;
	width: 17px;
	padding: 3px 2px 0px 1px;
}
.addNewItem {
	cursor: pointer;
	cursor: hand;
	display: inline-block;
}
.addNewItem img {
	height: 11px;
	width: 11px;
}
.todoList .addNewItemForm {
	padding: 10px 0px 10px 0px;
	line-height: 28px;
}
.todoList .addNewItemForm input {
	height: 24px;
	width: 100%;
	font-size: 16px;
}
.todoList .addNewItemForm div {
	float: right;
	padding: 6px 0px;
}
.todoList .addNewItemForm button {
	background-color: #0097A7;
	color: #FFFFFF;
	float: right;
	padding: 6px 16px;
	margin: 3px 4px;
	border-radius: 10px;
}


/* Completed Section */
.completedList {
	float: right;
	height: 100%;
	width: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	overflow: auto;
}
.deleteItem {
	float: right;
	margin: 10px;
	padding: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	border-radius: 15%;
	background-color: #E0F7FA;
	cursor: pointer;
	cursor: hand;
}
.deleteItem img {
	height: 14px;
	width: 14px;
	padding: 4px 3px 2px 3px;
}







